In [ ]:
# 1) * = mathamatical expression, 
#   hello = string,
#   -87.8 = integers , 
#   - = mathamatical operator, 
#   / = mathamatical operator,
#   + = mathamatical operator,
#   6 = integers

SyntaxError: ignored

In [ ]:
# 2) variable = used to store the information
# string = is the value inside the quotes that can be used to store value of value

In [ ]:
# 3) Types of variable 
# int, float, complex numbers

In [ ]:
# 4) Expression is combination of values and is used to create new result. expression perform some opertaion on given function and output final result

In [ ]:
# 5) Difference between expression and statemnet
#   Statement is an action of commond 
#   expression is combination of values and variable operation which output result

In [ ]:
# 6) 20

In [ ]:
# 7) 'spam' + 'spamspam' = 'spamspamspam'

SyntaxError: ignored

In [ ]:
# 7) 'spam'*3 = 'spamspamspam'

In [ ]:
# 8) we cannot use digit as variable, because a digit has operticular value and we cannot equate it to other variable, it will cause Error
#    Ex: 2 = 5
#        c = 2
#        d = 2 * c
#        Now value of c is either 4 or 10:
#        which is not possible

In [ ]:
# 9) int(), float(), str() function are used to get different version of datatypes

In [ ]:
# 10 ) Here variable used are of two different datatypes so variables to be added it should of same datatype
#  we can fix by, 
# 'i have eaten ' + ' 99 ' + 'burriots'
# by converting 99 to string type