In [ ]:
# 1.) program to conver km to miles
a = int(input(print("enter length in kilometr to convert to miles" )))
b=a/1.609344
print("the length in miles is", b, "miles")

enter length in kilometr to convert to miles
12
the length in miles is 7.456454306848007 miles

In [ ]:
# 2.) program to convert celcius to Fahrenheit
a = int(input(print("enter temperature in celcius to convert Fahrenheit" )))
f = (a*1.8)+32
print("temperature in faranite:", f)

enter temperature in celcius to convert Fahrenheit
12
temperature in faranite: 53.6

In [ ]:
#3.) Program to display the calender
import calendar
yy=int(input("enter year: "))
mm=int(input("enter month"))
print(calendar.month(yy,mm))

enter year: 1997
enter month12
   December 1997
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

In [24]:
#4.) program to solve quadratic equation
import cmath

a= int(input("enter value for a :"))
b= int(input("enter value for b: "))
c= int(input("enter value for c: "))

d = ((b**2)-(4*a*c))

e = ((-b) +cmath.sqrt(d))/(2*a)
f = ((b-cmath.sqrt(d))/(2*a))

print("solution of given eqn are:", e, "and", f)

enter value for a :1
enter value for b: 1
enter value for c: 1
solution of given eqn are: (-0.5+0.8660254037844386j) and (0.5-0.8660254037844386j)

In [26]:
# 5) program to swap two numbers
x = int(input("enter a first number to be swapped"))
y = int(input("enter a second number"))

x, y = y, x
print("values after swapping")
print("x =", x)
print("y =", y)

enter a first number to be swapped12
enter a second number8528
values after swapping
x = 8528
y = 12