In [ ]:
# 1.) print factorial of a number
num = int(input("enter a number "))
fact = 1
for i in range (1, num+1):
  fact=fact*i

print("factorial of given number is : ", fact)

enter a number 6
factorial of given number is :  720

In [ ]:
# 2.) display the multiplication table
a = int(input("enter number to display multiplication table "))

for i in range(1 , 11):
  print(a ," * " , i, " = ", a*i)

enter number to display multiplication table 122
122  *  1  =  122
122  *  2  =  244
122  *  3  =  366
122  *  4  =  488
122  *  5  =  610
122  *  6  =  732
122  *  7  =  854
122  *  8  =  976
122  *  9  =  1098
122  *  10  =  1220

In [ ]:

# 2.) display the multiplication table

num = int(input("Display multiplication table of "))

# Iterate 10 times from i = 1 to 10
for i in range(1, 11):
   print(num, 'x', i, '=', num*i)

Display multiplication table of 10
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [ ]:
#3.) Python program to generate Fibonacci series until 'n' value
n = int(input("Enter the value of 'n': "))
a = 0
b = 1
sum = 0
count = 1
print("Fibonacci Series: ", end = " ")
while(count <= n):
  print(sum, end = " ")
  count += 1
  a = b
  b = sum
  sum = a + b

Enter the value of 'n': 20
Fibonacci Series:  0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181

In [ ]:
# 4.) Python program to check if the number is an Armstrong number or not

num = int(input("Enter a number: "))
sum = 0
temp = num
while temp > 0:
   digit = temp % 10
   sum += digit ** 3
   temp //= 10
if num == sum:
   print(num,"is an Armstrong number")
else:
   print(num,"is not an Armstrong number")

Enter a number: 407
407 is an Armstrong number

In [3]:
#5.)  Program to check Armstrong numbers in a certain interval

lower = int(input("enter lower limit: "))
upper = int(input("enter upper limit: "))

for num in range(lower, upper + 1):

   # order of number
   order = len(str(num))
    
       # initialize sum
   sum = 0

   temp = num
   while temp > 0:
       digit = temp % 10
       sum += digit ** order
       temp //= 10

   if num == sum:
       print(num)

enter lower limit: 100
enter upper limit: 300
153

In [4]:
# 6.) Sum of natural numbers up to num

num = int(input("enter numbers to get sup uto: "))

if num < 0:
   print("Enter a positive number")
else:
   sum = 0
   # use while loop to iterate until zero
   while(num > 0):
       sum += num
       num -= 1
   print("The sum is", sum)

enter numbers to get sup uto: 10
The sum is 55